@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;

}
.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #000;
}
.box {
  min-width: 300px;
  background:  #050505;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -5%;
  top: -5%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: -1;
}
h1 {
  font-weight: bold;
  font-size: 32px;
  padding: 26px 0;
  color:rgb(255,78,78)
}
.content {
  padding: 0 15px;
}
.input {
  background: #ffffff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  padding: 10px 0;
  margin-bottom: 14px;
}
.input label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 14px;
}
.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #4f7df9;
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}
button#calculate {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background:rgb(255,78,78);
  font-size: 14px;
  border-radius: 12px;
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: background 0.2s ease;
}
button#calculate:hover {
  background: #0044ff;
}
.result {
  padding: 22px 20px;
}
.result p {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 14px;
}
.linkform {
  font-size: 22px;
  font-weight: 500;
  color: #db2424;
  background-color: #ffffff;
  display: inline-block;
  padding: 7px 18px;
  border-radius: 40px;
  margin-bottom: 18px;
}
#comment {
  color: #4f7df9;
  font-weight: 800;
}

.logos-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-radius: 50%;
      width: 150px;
      height: 150px;
}
.result  #result  {
  font-size: 24px;
  font-weight: 400;
  color: #db2424;
  background-color: #ffffff;
  display: inline-block;
  padding: 6px 18px;
  border-radius: 50px;
  margin-bottom: 25px;
}
