display: flex;
      flex-direction: column;
      padding: 20px;
      background: var(--white);
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
      scroll-snap-align: start;
      transition: all 0.2s;